body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 10% 2%;
  display: flex;
  gap: 10%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #1B1B1B;
}

h1 {
  color: #FFF;
}

header.card {
  padding: 0 2%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

fieldset {
  border-radius: 30px;
  border: none;
  /* background-color: #EFEFEF; */
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5%;
  padding: 5%;
  box-sizing: border-box;
}

label {
  color: white;
  display: flex;
  align-items: center;
}

.inputContainer {
  display: flex;
}

fieldset input {
  color: #000;
  background-color: #606060;
  border: none;
  border-radius: 1px;
  outline: 1px solid #000;
  font-size: 1em;
  height: 100%;
  margin-left: 1%;
  font-weight: 300;
}

label button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

label button img {
  pointer-events: none;
}

input[readonly] {
  color: white;
  background-color: transparent;
  outline: none;
}

.btn {
  color: #FFF;
  background-color: #BBB;
  border: none;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 15px;
  align-self: flex-end;
}

.btnModif {
  background-color: #DADADA;
  color: #676767;
  border-radius: 10px;
  padding: 5px 15px;
}

.error {
  color: red;
  font-size: 12px;
}

.card {
  width: 80%;
  padding: 2%;
  border-radius: 15px;
  background-color: #282828;
  box-shadow: 8px 10px 23px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;

}

.photo {
  width: 80px;
  aspect-ratio: 1;
  margin-right: 5%;
}

.save {
  position: absolute;
  bottom: calc(10px + 1em);
  right: 0;
  background-color: #737373;
  cursor: pointer;
  display: none;
}